<!DOCTYPE html>
<html>
<head>
  <title>My first Vue page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/grid.css?version=0.1">
  <link rel="stylesheet" href="css/pink.css?version=0.1">
  <link rel="stylesheet" href="css/images.css?version=0.1">
  <link rel="stylesheet" href="css/shopping.css?version=0.1">
  
</head>
<body>

  <h1>Personal Profile Webpage</h1>
<hr>
 <div class="grid-container">
        <div class="item1">
            <h2>About Me</h2>
            <img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/397276092_1026365705364210_7686919848526335867_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGEgfwOQ0fRKe74W9gvttiISbU6V23Yf_tJtTpXbdh_-z9zEtt1UxDzDi6-Dh9YaXfEGDdrZG35Tr-9mSiZNxzu&_nc_ohc=khSgy72F12MQ7kNvgH9Z8P4&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=AS53nRW1-M4uyvsSSyZgmg4&oh=00_AYCHjByqmFpOynKAY0e_OptEclsp-RDcamexyS-UKjIC5Q&oe=674D11C9" width="200" height="200">
            <p>Name: Julian Rylie B. Tengco</p>
            <p>Nickname: Rylie</p>
        </div>
        
        <div class="item2">
            <h3>Education / Achievements</h3>
            <h5>Maranatha Christian Academy of Imus</h5>
            <ul>
                <li>Junior High - Senior High (STEM strand)</li>
                <li>Graduated Senior High with High Honors</li>
            </ul>
            <h5>Asia Pacific College (2023-PRESENT)</h5>
            <ul>
                <li>BSIT-MI</li>
                <li>1st Year of College - Honors</li>
            </ul>
        </div>
        
        <div class="item3">
            <h3>Course</h3>
            <p>Bachelor of Science in Information Technology with specialization in Mobile and Internet Technologies</p>
            
            <h3>IT Experience</h3>
            <ul>
                <li>Basics of Java Codes</li>
                <li>Basics of Python Codes</li>
            </ul>
            
            <h3>Hobbies & Interests</h3>
            <ul>
                <li>Gym</li>
                <li>Volleyball</li>
                <li>Playing Games</li>
                <li>Reading Manga and Manhwa</li>
                <li>Anime</li>
            </ul>
        </div>
        
        </div>
    </div>


<div id="app">
  {{ message }} <br>
  {{'Random number: ' + Math.ceil(Math.random()*6) }}
  
  <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
  
</div>

<div id="app2">
  <div>
    <figure v-for="x in manyFoods">
      <img v-bind:src="x.url">
      <figcaption>{{ x.name }}</figcaption>
    </figure>
  </div>

<div id="app3">
  <form v-on:submit.prevent="addItem">
  <p>
        What do you need? <br>
  <input type="text" required placeholder="item name.." v-model="itemName">
  </p>
  <p>
        How many? <br>
  <input type="number" placeholder="number of items.." v-model="itemNumber">
  </p>
  <p>
        Important?
  <label>
  <input type="checkbox" v-model="itemImportant">
          {{ itemImportant }}
  </label>
  </p>
  <button type="submit">Add item</button>
  </form>
  <br>
  <hr>
   
    <div>
  <p><strong>Shopping list:</strong></p>
  <ul id="ulToFind">
  <li 
          v-for="item in shoppingList" 
          v-bind:class="{ impClass: item.important }"
          v-on:click="item.found=!item.found"
          v-show="!item.found">
            {{ item.name }}, {{ item.number}}
  </li>
  </ul>
  <ul id="ulFound">
  <li 
          v-for="item in shoppingList" 
          v-bind:class="{ impClass: item.important }"
          v-on:click="item.found=!item.found"
          v-show="item.found">
            {{ item.name }}, {{ item.number}}
  </li>
  </ul>
  </div>
  </div>
  
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/images.js"></script>
<script src="js/shopping.js"></script>

</body>
</html>
